<% provide(:title, 'Edit Book') %>
<h1>Update Book</h1>
<%= simple_form_for @book do |f| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'book_error_messages' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :author %>
      <%= f.text_field :author, class: 'form-control' %>
      <%= f.label :number %>
      <%= f.text_field :number, class: 'form-control' %>
    </div>
    <div class="col-md-8">
      <%= f.input :categories, wrapper_html: { class: 'category_checkboxes' }, collection: @categories, as: :check_boxes, value_method: :name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= f.submit "Edit Book", class: "category_submit_button btn btn-primary" %>
    </div>
  </div>
<% end %>