<% if params[:search] %>
  <h1> <%= params[:search] %> </h1>
  <% provide(:title, params[:search])%>
  <div class="row">
    <ul class="books">
      <%= render @books %>
    </ul>
  </div>
<% else %>
  <h1> All Books </h1>
  <% provide(:title, 'All books') %>
  <%= will_paginate %>
  <ul class="books">
    <%= render @books %>
  </ul>
  <%= will_paginate %>
<% end %>