<% provide(:title, @book.title) %>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1 class="book-page_title">
      <%= @book.title %>
    </h1>
    <h2 class="book-page_author">
      <%= "Author: #{@book.author}" %>
    </h2>
    <h2 class="book-page_number">
      <%= "Ref #: #{@book.number}" %>
    </h2>
    <% unless @book.description.empty? %>
      <p><%= "Description: #{@book.description}" %></p>
    <% end %>
    <% unless @book.categories.empty? %>
      <h3 class="book-page_categories_label">
        Categories
    </h3>
      <ul class="book-page_categories">
        <% @book.categories.each do |c| %>
          <%= render 'category', :category => c  %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="book_show_controls col-md-5">
      <% if @book.available %>
        <span class="book_show_available">This book is available!</span>
        <%= form_for @book, url: checkout_book_path(@book) do |f| %>
          <%= render 'book_error_messages' %>
          <%= f.label :checked_out_by, "Please enter your email to check out"%>
          <%= f.email_field :checked_out_by, class: 'form-control' %>
          <%= f.submit "Check Out Book", class: "book_show_button btn btn-primary" %>
        <% end %>
      <% else %>
        <% if current_user && current_user.admin? %>
          <%= "Checked out by #{@book.checked_out_by}" %>
        <% else %>
          <%= "This book is officially checked out. Is it back in the library? If so, go ahead and check it in"%>
        <% end %>
        <%= form_for @book, url: checkin_book_path(@book) do |f| %>
          <%= render 'book_error_messages' %>
          <%= f.submit "Check In Book", class: "book_show_button btn btn-primary" %>
        <% end %>
      <% end %>
      <% if current_user && current_user.admin? %>
        <%= link_to "Delete Book", @book, method: :delete, data: {confirm: "You sure?"}, class: "book_show_button btn btn-primary"%>
        <%= link_to "Edit Book", edit_book_path(@book), class: "book_show_button btn btn-primary"%>
      <% end %>
    </div>
  <% end %>
</div>