<h1>Categories</h1>
<div class="row">
  <div class="col-md-4">
    <h3 class="categories_add_title">Add Category</h3>
    <%= form_for(:new_category, url: categories_path) do |f| %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "Create New Category", class: "categories_add_button btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-8">
    <ul class="categories_index_column">
      <%= render @categories.take((@categories.length / 2)) %>
    </ul>
    <ul class="categories_index_column">
      <%= render @categories.drop((@categories.length / 2)) %>
    </ul>
  </div>
</div>